@tailwind base;
@tailwind components;
@tailwind utilities;

#stats-table {
  width: 100%;
  border: 1px solid rgb(212, 212, 216)
}

#stats-table tr, #stats-table td {
  border: 1px solid rgb(212, 212, 216)
}

#stats-table td, #stats-table th {
  padding-left: 0.5rem/* 8px */;
  padding-right: 0.5rem/* 8px */;
}